.tn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    border-bottom: 1px solid;
}
.tn span{
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
}
#reeves{
    color: #000;
}
.main-nav-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.gender-category ul{
    display: flex;
    list-style: none;
    /* padding: 0; */
    gap: 20px;
}

.top-nav div{
    border: 1px solid;
}
@media screen and (max-width:992px) {
    .gender-category{
        display: none;
    }
}